<% provide(:title, "Edit your question") %>
<h1>Edit your question</h1>

<%= form_for(@question) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.text_field :name, placeholder: "question name" %>

	<%= f.text_area :info, placeholder: "question instructions (optional)" %>

	<br><br>

	<%= f.label :start_time, "Start time:" %>
	<%= f.datetime_select :start_time, value: @group.start_time %>

	<%= f.label :finish_time, "Finish time:" %>
	<%= f.datetime_select :finish_time, value: @group.finish_time %>
	<br><br>

<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>