<% provide(:title, "Create a question") %>
<h1>Create a question</h1>
<h2> Election: <%= @election.name %> </h2>

<%= nested_form_for(@question, url: election_questions_path(@election)) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.text_field :name, placeholder: "question name" %>

	<%= f.text_area :info, placeholder: "question instructions" %>

	<br><br>

	<script>
	$(document).ready(function(){
		$(document).keypress(function(event){ // change to ".enter_question_name"
    		if(event.keyCode == 13){ // clicked enter, which is key number 13.
        		$('#add_new_choice').click();
        		return false;
    		}
		});
	});
	</script>

	<h3>Choices:</h3>
	<br>
	<% f.fields_for :choices do |c| %>
		<%= c.label :name %>
		<%= c.text_field :name, placeholder: "choice", :class => "enter_choice_name" %>
		<%= c.link_to_remove "Remove" %>
	<% end %>
	<p><%= f.link_to_add "Add new choice", :choices, id: "add_new_choice" %></p>
	
	<br>
	<br>
	

	<%= f.submit "Save", class: "btn btn-large btn-primary" %>
	<%= f.submit "Add another question", class: "btn btn-large btn-primary" %>
<% end %>