<% provide(:title, @question.name) %>
<div>

Owner:
  <%= link_to @question.election.user.pretty_name, @question.election.user %>
  <br>
Election:
  <%= link_to @question.election.name, @question.election %>
  <br><br>
Question:
  <%= best_in_place_if edit_election_condition(current_user, @question.election), @question.election, :name %>
  <br>

Voting instructions:
  <%= best_in_place_if edit_election_condition(current_user, @question.election), @question.election, :info, type: :textarea, ok_button: "Save", cancel_button: "Cancel", nil: "Click here to add information" %>

<br>
<br>
<br>
<% if @question.election.privacy %>
	<%= link_to "Vote", enter_question_valid_svcs_path(@question), class: "btn btn-large btn-primary" %>
<% else %>
	<%= link_to "Vote", make_question_valid_svcs_path(@question), class: "btn btn-large btn-primary" %>
<% end %>

<br><br><br><br>

<h3>Choices</h3>
<br>
<% @question.choices.each do |choice| %>
	<%= choice.name %>
	<br>
<% end %>

<br><br>

<h3>SVCs</h3>
<br>
<% @question.valid_svcs.each_with_index do |valid_svc, index| %>
	SVC #<%= index + 1 %>: <%= link_to "Status", status_active_vote_path(valid_svc) %> --- <%= link_to valid_svc.svc, vote_path(id: valid_svc.svc) %><br>
<% end %>


<br><br>


<h3>BSNs</h3>
	<br>
<% @question.votes.each_with_index do |vote, index| %>
	BSN #<%=index+1%>: <%= link_to vote.bsn, display_vote_path(vote.bsn) %><br>
<% end %>
<br><br>

<%= link_to 'Show results', results_question_path(@question), class: "btn btn-large btn-primary" %>
<br><br><br>

<% if @question.election.dynamic %>
	<%= link_to 'Export Regular MOV to CSV', export_mov_to_csv_question_path(@question, {adjusted: 0}) %>
	<br>
	<%= link_to 'Export Adjusted MOV to CSV', export_mov_to_csv_question_path(@question, {adjusted: 1}) %>
	<br>
	<%= link_to 'Export Votes to CSV', export_votes_to_csv_question_path(@question) %>
<% end %>
