<% provide(:title, @question.name) %>
<div>

Owner:
  <%= link_to @question.election.user.pretty_name, @question.election.user %>
  <br>
Election:
  <%= link_to @question.election.name, @question.election %>
  <br><br>
Question:
  <%= @question.name %>
  <br>

Voting instructions:
  <p><%= @question.info %></p>

<br>
<% if current_user == @question.election.user %>
	<h3><%= link_to "edit question", edit_question_path(@question) %></h3>
<% end %>
<br>
<% if @question.election.privacy %>
	<%= link_to "Vote", enter_question_valid_svcs_path(@question), class: "btn btn-large btn-primary" %>
<% else %>
	<%= link_to "Vote", make_question_valid_svcs_path(@question), class: "btn btn-large btn-primary" %>
<% end %>

<br><br><br><br>

<h3>Choices</h3>
<br>
<% @question.choices.each do |choice| %>
	<%= choice.name %>
	<br>
<% end %>

<br><br>

<h3>SVCs</h3>
<br>
<% @question.valid_svcs.each_with_index do |valid_svc, index| %>
	SVC #<%= index + 1 %>: <%= link_to "Status", status_vote_path(svc: valid_svc.svc) %> --- <%= link_to valid_svc.svc, vote_path(svc: valid_svc.svc) %><br>
<% end %>


<br><br>


<h3>BSNs</h3>
	<br>
<% if @question.election.privacy %>
	<% @question.votes.each_with_index do |vote, index| %>
		BSN #<%=index+1%>: <%= link_to vote.id, display_private_vote_path(id: vote.id, svc: vote.svc) %><br>
	<% end %>
<% else %>
	<% @question.votes.each_with_index do |vote, index| %>
		BSN #<%=index+1%>: <%= link_to vote.id, display_public_vote_path(id: vote.id) %><br>
	<% end %>
<% end %>
<br><br>

<%= link_to 'Show results', results_question_path(@question), class: "btn btn-large btn-primary" %>
<br><br><br>

<%= link_to 'Export Regular MOV to CSV', export_mov_to_csv_question_path(@question, {adjusted: 0}) %>
	<br>
<%= link_to 'Export Adjusted MOV to CSV', export_mov_to_csv_question_path(@question, {adjusted: 1}) %>
	<br>
<%= link_to 'Export Votes to CSV', export_votes_to_csv_question_path(@question) %>