<h2> Election: <%= link_to @valid_svc.question.election.name, @valid_svc.question.election %> </h2>
<h2> Question: <%= link_to @valid_svc.question.name, @valid_svc.question %> </h2>
<h2> SVC: <%= link_to @valid_svc.svc, vote_path(@valid_svc.svc) %> </h2>

<br><br>

<h3>Active Vote</h3>
<br>
<% if @active_vote %>
	BSN: <%= link_to @active_vote.bsn, display_vote_path(@active_vote.bsn) %> <br>
	<% @active_preferences.each do |active_preference| %>
		<%= active_preference.position %>) <%= active_preference.choice.name %>
		<br>
	<% end %>
<% elsif @active_preferences.blank? %>
	This vote is active, but has no recorded preferences.
<% else %>
<h3> There is no active vote for this SVC </h3>
<% end %>

<br><br>


List of Associated BSNs:
<br>
<% @votes.each_with_index do |vote, index| %>
	BSN #<%= index %>: <%= link_to vote.bsn, display_vote_path(vote.bsn) %> - 
	<% if @active_vote.bsn == vote.bsn %>
	Active
	<% else %>
	<%= link_to "Activate", activate_path(id: vote.svc, bsn: vote.bsn) %>
	<% end %>
	<br>
<% end %>

