<div class="row">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <%= f.text_field :nickname, placeholder: "change your nickname" %>
    </div>

    <div>
      <%= f.email_field :email, placeholder: "change email (we'll send you a confirmation email)" %>
    </div>

    <div>
    <%= f.password_field :password, :autocomplete => "off", placeholder: "change password (leave blank if you don't want to change it)" %>
    </div>

    <div>
    <%= f.password_field :password_confirmation, :autocomplete => "off", placeholder: "confirm password (leave blank if you don't want to change it)" %>
    </div>

    <hr>
    <div>
    <%= f.password_field :current_password, placeholder: "Current password (we need your current password to confirm your changes)" %>
    </div>

    <div><%= f.submit "Update", class: "btn btn-primary btn-large" %></div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

  <%= link_to "Back", :back %>
</div>