<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <big><b>You have been invited by <%= @election.group.user.pretty_name %> to vote in an election at <%= link_to "WeVoteHere.com!", root_url %></b></big>

    <div>
      <% if @election.group.privacy %>
        <p>You will use your Secret Voting Code (SVC) to securely vote in this election. Even we do not know your secret voting code; once this email is sent, we delete the association from our memory. Therefore, please don't lose your SVC!</p>
        <p><b>Your SVC is <%= link_to @svc, vote_url(@svc) %>. You can click it to vote.</b></p>
        <p>You can also view the status of your vote here: <%= link_to "Status", status_vote_url(@svc) %></p>
      <% else %>
        <p>You will receive a Secret Voting Code (SVC) to securely vote in this election. Even we do not know your secret voting code; it is not associated with your email in any way. Therefore, please don't lose your SVC!</p>
        <big><b><p><%= link_to "Click here to vote", make_election_valid_svcs_url(@election) %></p></b></big>
      <% end %>
    </div>
  </body>
</html>