<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have been invited by <%= @election.group.user.pretty_name %> to vote in an group at WeVoteHere.com!</h1>

    <% if @election.group.privacy %>
      <p>You will use your Secret Voting Code (SVC) to securely vote on this election. Even we do not know your secret voting code; once this email is sent, we delete the association from our memory. Therefore, please don't lose your SVC!</p>
      <p>Your SVC is <%= link_to @svc, vote_path(@svc) %>. You can click it to vote.</p>
      <p>You can also view the status of your vote here: <%= link_to "Status", status_vote_path(@svc) %></p>
    <% else %>
      <p><%= link_to "Click here to vote", make_election_valid_svcs_path(@election) %></p>
    <% end %>

    <h2>Election Information</h2>
    Owner:
    	 <%= link_to @election.group.user.pretty_name, @election.group.user %>
    	<br>
  	Group:
    	<%= link_to @election.group.name, @election.group %>
    	<br>
  	Election:
    	<%= link_to @election.name, @election %>

    <br>
  	<br>
  	
  	<h3>Choices</h3>
  	<%= render @election.choices %>
  </body>
</html>