<% provide(:title, 'Create a group') %>
<h1>Create a group</h1>

<%= form_for @group do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.text_field :name, placeholder: "group name" %>

	<div class="center"><%= f.label :emails, "Enter the emails of the members for this group!" %></div>
	<%= f.text_area :emails, value: "", placeholder: "enter email addresses here. please separate emails by commas" %>
	<hr>

	<%= f.submit "Submit", disable_with: "Saving ...", class: "btn btn-large btn-primary btn-block" %>
<% end %>