<% provide(:title, @group.name) %>
<h1>Group: <%= @group.name %></h1>

<div class="span3">
  <%= render partial: 'shared/user_and_group', locals: {group: @group} %>
</div>
<div class="span4">
  <big><b>Elections (<%= @group.elections.count %>)</b></big>
  <%= render partial: 'elections', locals: {group: @group} %>
</div>
<div class="span4">
  <big><b>Voters (<%= @group.voters.count %>)</b></big>
  <%= render partial: 'voters', locals: {group: @group} %>
</div>