<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

    <%= f.label :nickname %>
    <%= f.text_field :nickname %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :handle %>
    <%= f.text_field :handle %>

    <%= f.label :password, "Change Password" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>