<% provide(:title, "Edit user") %> 
<h1>Change your password</h1>

<%= form_for(@user, url: change_password_user_path) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

    <%= f.label :old_password %>
    <%= f.password_field :old_password %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary btn-block" %>
<% end %>