<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

    <%= f.label "Nickname (optional)" %>
    <%= f.text_field :nickname %>

    <%= f.label :email %>
    <%= f.text_field :email %>

	<br><br>
    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>

<% if @user == current_user %>
    <%= gravatar_for (@user) %>
    <h6><a href="http://gravatar.com/emails">change your gravatar</a></h6>
    
    <h6><%= link_to "edit your password", edit_password_user_path(@user) %></h6>
    <h6><%= link_to "link other email addresses", add_emails_user_path(@user) %></h6>
    <h6><%= link_to "view my email addresses", emails_user_path(@user) %></h6>
<% end %>