<div class="span3">
  <%= render user %>
</div>
<div class="span4">
  <big><b>Groups I own (<%= user.groups.count %>)</b></big>
  <ul class="lists">
  <% if user.groups.any? %>
      <%= render user.groups %>
  <% else %>
    <li><%=you_dont(user, current_user, true)%> own any groups yet!</li>
  <% end %>
  <% if user == current_user %>
    <li>
      <%= link_to "Create a group", new_group_path, class: "btn btn-large btn-adjusted-block btn-primary" %></li>
    <% end %>
  </ul>
</div>
<div class="span4">
  <big><b>Groups I'm in (<%= user.followed_groups.count %>)</b></big>
    <ul class="lists">
    <% if user.followed_groups.any? %>
        <%= render user.followed_groups %>
    <% else %>
    <li><%=you_arent(user, current_user, true)%> in any groups yet!</li>
    <% end %>
    <li><%= link_to "View public groups", groups_path, class: "btn btn-large btn-adjusted-block btn-primary" %></li>
    </ul>
</div>