<big><b>Name: <%= link_to election.name, election %></b></big>
<% if edit_election_condition(current_user, election) %>
- <%= link_to "edit election", edit_election_path(election) %>
<br>
<% end %>
	<div class="timestamp">
	<p>
	Start time: <%= pretty_time(election.start_time) %>
	<br>
	Finish time: <%= pretty_time(election.finish_time) %>
	</p>
</div>
<% unless election.info.blank? %>
	<big><b>Voting instructions</b></big>
	<p><%= election.info %></p>
<% end %>