<div>
	<span class="content">
  	<p><%= link_to election.name, election %>
  	<% if edit_election_condition(current_user, election) %>
    	- <%= link_to "edit", edit_election_path(election) %>
  	<% end %></p>
  	</span>
  	<span class="timestamp">
  		<p>Created <%= time_ago_in_words(election.created_at) %> ago.</p>
    	<p>Start time: <%= election.start_time.to_s %></p>
    	<p>End time: <%= election.finish_time.to_s %></p>
	</span>
		<div class="span1">
			<span class="label label-success">
		  		<% if @election.privacy %>
			      private
			    <% else %>
			      public
			    <% end %>
			</span>
		</div>
	<div class="span3">
		<br>
		<% if edit_election_condition(current_user, @election) %>
			<%= link_to "Add another question", new_election_question_path(@election), class: "btn btn-large btn-primary" %>
		<% end %>
  	</div>
</div>