<% provide(:title, 'Create an election') %>
<h1>Create an election</h1>

<%= nested_form_for @election do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :name %>
	<%= f.text_field :name, placeholder: "election name" %>

	<%= f.label :info, "Voting instructions:" %>
	<%= f.text_area :info, placeholder: "voting instructions" %>

	<%= f.label :start_time, "Start time:" %>
	<%= f.datetime_select :start_time %>

	<%= f.label :finish_time, "Finish time:" %>
	<%= f.datetime_select :finish_time, default: Time.now.tomorrow() %>
	<br><br>
	
	Election Privacy:
	<br>
	<%= f.radio_button :privacy, 0, checked: false %>
	<%= f.label :privacy, "Public", style: "display:inline" %>
	<br>
	<%= f.radio_button :privacy, 1, checked: true %>
	<%= f.label :privacy, "Private", style: "display:inline" %>

	<br><br>

	Show votes:
	<br>
	<%= f.radio_button :display_votes_as_created, 1, checked: false %>
	<%= f.label :display_votes_as_created, "as they are created", style: "display:inline" %>
	<br>
	<%= f.radio_button :display_votes_as_created, 0, checked: true %>
	<%= f.label :display_votes_as_created, "when the election ends", style: "display:inline" %>

<br><br><br>

	<%= f.submit "Next step", class: "btn btn-large btn-primary" %>
<% end %>