<% provide(:title, "Results: #{@election.name}") %>
<h1>Results: <%= link_to @election.name, @election %></h1>
<div class="row">	
	<div class="span4">
		<%= render partial: 'shared/user_and_group', locals: {group: @election.group} %>
		<hr>
		<div class="row">
		<p>
		<%= link_to 'Export Regular MOV to CSV', export_mov_to_csv_election_path(@election, {sorted: 0}), class: "btn btn-large btn-adjusted-block" %>
		</p>
		<p>
		<%= link_to 'Export Regular Adjusted MOV to CSV', export_mov_to_csv_election_path(@election, {sorted: 0, adjusted: 1}), class: "btn btn-large btn-info btn-adjusted-block" %>
		</p>
		<p>
		<%= link_to 'Export Sorted MOV to CSV', export_mov_to_csv_election_path(@election, {sorted: 1, adjusted: 1}), class: "btn btn-large btn-adjusted-block" %>
		</p>
		<p>
		<%= link_to 'Export Sorted Adjusted MOV to CSV', export_mov_to_csv_election_path(@election, {sorted: 1, adjusted: 1}), class: "btn btn-large btn-info btn-adjusted-block" %>
		</p>
		<p>
		<%= link_to 'Export Votes to CSV', export_votes_to_csv_election_path(@election), class: "btn btn-large btn-adjusted-block" %>
		</p>
		<p>
		<%= link_to 'Export Ranked Pairs to TXT', export_ranked_pairs_to_txt_path(@election), class: "btn btn-large btn-info btn-adjusted-block" %>
		</p>
		</div>
	</div>
	<div class="offset1 span7">
		<div class="row">
			<p><big><b>Results</b></big></p>
			<% unless @results_array %>
				<p>This election has not yet started.</p>
			<% else %>
				<% if @election.finish_time > Time.now %>
					<p>This election is in progress. Current results:</p>
				<% else %>
					<p>This election has ended. Final results:</p>
				<% end %>
				<ul class="lists">
					<% @results_array.each_with_index do |result, index| %>
						<%= render partial: 'result', locals: {index: index, result: result} %>	
					<% end %>
				</ul>
				<div>
					<br>
					<p><b>Tie-breaking vote</b></p>
					<ul class="lists">
						<%= render @tie_breaking_preferences %>	
					</ul>
				</div>
			<% end %>
		</div>
	</div>
</div>