<% provide(:title, @election.name) %>
<div>


  Owner:
  <% if @election.user.name %>
    <%= link_to @election.user.name, @election.user %>
  <% else %>
    <%= link_to @election.user.handle, @election.user %>
  <% end %>
  <br><br>


  <% if @election.info %>
    Extra information:
    <%= @election.info %>
  <% end %>
  <br><br>


  Candidates:
  <br>
  <% @election.candidates.each do |candidate| %>
    <%= candidate.name %>
    <br>
  <% end %>
  <br>


  Privacy:
  <% if @election.privacy == 0 %>
    public
  <% else %>
    private
  <% end %>
  <br>


  Start time: <%= @election.start_time %>
  <br>
  End time: <%= @election.finish_time %>
  <br>
  <br>


  Show votes: 
  <% if @election.display_preference == 0 %>
    as they are created
  <% else %>
    when the election ends
  <% end %>
</div>