<% provide(:title, @election.name) %>
<div>

Owner:
  <%= link_to @election.user.pretty_name, @election.user %>
  <br><br>
Name:
  <%= best_in_place_if edit_election_condition(current_user, @election), @election, :name %>
  <br>

Extra information:
  <%= best_in_place_if edit_election_condition(current_user, @election), @election, :info, type: :textarea, nil: "Click here to add information" %>


<br><br>


  Candidates:
  <br>
  <% @election.candidates.each do |candidate| %>
    <%= candidate.name %>
    <br>
  <% end %>

  <br>
  Start time: <%= best_in_place_if edit_election_condition(current_user, @election), @election, :start_time, type: :date %>
  <br>
  End time: <%= best_in_place_if edit_election_condition(current_user, @election), @election, :finish_time, type: :date %>
  <br>
  <br>


  Privacy:
  <%= best_in_place_if edit_election_condition(current_user, @election), @election, :privacy, type: :select, collection: [[false, "public"], [true, "private"]] %>
  <br>

  Show votes: 
  <%= best_in_place_if edit_election_condition(current_user, @election), @election, :display_votes_as_created, type: :select, collection: [[true, "as they are created"], [false, "when the election ends"]] %>

</div>