<% provide(:title, @election.name) %>
<h1>Election: <%= @election.name %></h1>
<div>	
	<div class="span4">
		<%= render partial: 'shared/user_and_group', locals: {group: @election.group} %>
		<div>
			<hr>
			<%= render partial: 'election_choices', locals: {choices: @election.choices} %>
		</div>
	</div>
	<div class="span7">
		<div>
			<p><%= button_to "Vote", vote_path_helper(@election), class: "btn btn-large btn-block btn-success" %></p>
			<p><%= button_to "See results", results_election_path(@election), class: "btn btn-large btn-block btn-info" %></p>
			<hr>
		</div>
		<big><b>Information</b></big>
		<br><br>
		<%= render partial: 'election_info', locals: {election: @election} %>
		<hr>
		<div>
			<p><big><b>Ballot Serial Numbers</b></big></p>
			<div class="row">
				<ul>
					<%= render @votes %>
				</ul>
			</div>
		</div>
	</div>
</div>