<% provide(:title, @election.name) %>
<div>

  Owner:
  <%= link_to @election.user.pretty_name, @election.user %>
  <br><br>


  <% if @election.info %>
    Extra information:
    <%= @election.info %>
  <% end %>
  <br><br>


  Candidates:
  <br>
  <% @election.candidates.each do |candidate| %>
    <%= candidate.name %>
    <br>
  <% end %>
  <br>

  Start time: <%= @election.start_time %>
  <br>
  End time: <%= @election.finish_time %>
  <br>
  <br>


  Privacy:
  <% if @election.privacy %>
    private
  <% else %>
    public
  <% end %>
  <br>


  Show votes: 
  <% if @election.display_votes_as_created %>
    as they are created
  <% else %>
    when the election ends
  <% end %>
</div>