<% provide(:title, "View vote") %>
<h1>View vote</h1>
<h2> Election: <%= link_to @vote.question.election.name, @vote.question.election %> </h2>
<h2> Question: <%= link_to @vote.question.name, @vote.question %> </h2>
<h2> BSN: <%= link_to @vote.bsn, display_vote_path(@vote.bsn) %> </h2>

<br><br>

Your choices:
<br>
<% @preferences.each do |inactive_preference| %>
	<%= inactive_preference.position %>) <%= inactive_preference.choice.name %>
	<br>
<% end %>