<% provide(:title, "Submit your vote") %>
<h1>Submit your vote</h1>
<h2> Election: <%= @question.election.name %> </h2>
<h2> Question: <%= @question.name %> </h2>

<%= form_for(@vote, url: question_votes_path(@question)) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<br>
	<br>
	

	<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>