<% provide(:title, "Submit your vote") %>
<h1>Submit your vote</h1>
<h2> Election: <%= @question.election.name %> </h2>
<h2> Question: <%= @question.name %> </h2>

<%= form_for @vote, url: question_votes_path(@question), html: { class: "sortable" }, remote: true do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

  <script>
  var svc1 = "hello";
  </script>

  <%= f.label :svc1, "Secret Voting Code #1" %>
  <%= f.text_field :svc1, placeholder: "SVC1" %>

  <div class="actions clearfix">
        <%= f.submit "Update", class: "button" %>
  </div>

<% end %>


  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>

  <script>
  $(function() {
    $('#sortable').sortable({
      cursor: 'crosshair',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function(){
        $.ajax({
          type: 'post',
          data: $('#sortable').sortable('serialize') +"&svc1=" + svc1,
          dataType: 'script',
          complete: function(request){
            $('#sortable').effect('highlight');
          },
          url: '/preferences/sort'
        })
      }
    });
  });
  </script>

  <div class="demo">

    <ul id="sortable">
      <% @vote.preferences.each do |preference| %>
      <li id="preferences_<%= preference.candidate.id %>
      " class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span> <%= preference.candidate.name %> </li>
      <% end %>
    </ul>

  </div>