<% provide(:title, "Submit your vote") %>
<h1>Submit your vote</h1>
<h2> Election: <%= @question.election.name %> </h2>
<h2> Question: <%= @question.name %> </h2>

<%= form_for(@vote, url: question_votes_path(@question)) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

<meta charset="utf-8">

  <style>
  #sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
  #sortable1 li, #sortable2 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }
  </style>
  <script>
  $(function() {
    $( "ul.droptrue" ).sortable({
      connectWith: "ul"
    });

    $( "ul.dropfalse" ).sortable({
      connectWith: "ul",
      dropOnEmpty: false
    });

    $( "#sortable1, #sortable2, #sortable3" ).disableSelection();
  });
  </script>


<div class="demo">

<ul id="sortable1" class='droptrue'>
Preferences:
</ul>

<ul id="sortable2" class='droptrue'>
Unranked candidates:
  <% @question.candidates.each do |candidate| %>
    <%= render candidate, candidate: candidate %>
  <% end %>
</ul>

<br clear="both" />

</div><!-- End demo -->

	<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>

<script src="/assets/javascripts/rijndael.js"></script>

<body>
  <form name="f">
  <fieldset><legend>How we store your vote safely</legend>
  <ul>
    <li>
      <label for="pw">Your secret key (even we don't know this!)</label>
      <input type="text" name="pw" id="pw" value="L0ck it up saf3" class="w12">
    </li>
    <li>
      <label for="pt">Secret message (we don't know this either)</label>
      <textarea name="pt" id="pt" class="w36">pssst ... đon’t tell anyøne!</textarea>
    </li>
    <li><label><button type="button" name="encrypt" id="encrypt"
        onClick='f.cipher.value = Aes.Ctr.encrypt(f.pt.value, f.pw.value, 256)'>What we save in the database</button>
      </label>
      <textarea name="cipher" id="cipher" readonly class="w36"></textarea>
    </li>
    <li><label><button type="button" name="decrypt" id="decrypt"
        onClick='f.plain.value = Aes.Ctr.decrypt(f.cipher.value, f.pw.value, 256)'>Decrypt message</button>
      </label>
      <textarea name="plain" id="plain" readonly class="w36"></textarea>
    </li>
  </ul>
  </fieldset>
  </form>
  <p id="debug">&nbsp;</p>
</body>