<% provide(:title, "Submit your vote") %>
<h1>Submit your vote</h1>
  <script>
  $(function() {
    $('#sortable1, #sortable2').sortable({
      connectWith: ".connectedSortable",
      cursor: 'move',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function(){
        $.ajax({
          type: 'post',
          data: $('#sortable1').sortable('serialize') +"&svc=<%= @vote.svc %>"+"&vote_id=<%= @vote.id %>",
          dataType: 'script',
          complete: function(request){
            // $('#sortable1').effect('highlight');
          },
          url: '/preferences/sort'
        })
      }
    });
  });
  //getter
  var placeholder = $( ".selector" ).sortable( "option", "placeholder" );
  //setter
  $( ".selector" ).sortable( "option", "placeholder", 'ui-state-highlight' );
  //getter
  var forcePlaceholderSize = $( ".selector" ).sortable( "option", "forcePlaceholderSize" );
  //setter
  $( ".selector" ).sortable( "option", "forcePlaceholderSize", true );
  </script>


<div>
  <div class="span4">
    <big><b><div class="center">Ballot</div></b></big><br>
    <ol id="sortable1" class = "connectedSortable lists">
    </ol>
  </div>
  <div class="offset3 span4">
    <big><b><div class="center">Unsorted Choices</div></b></big><br>
    <ul id="sortable2" class = "connectedSortable lists">
      <% @vote.election.choices.each do |choice| %>
      <li id="choice_<%= choice.id %>
      " class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span> <%= choice.name %> </li>
      <% end %>
    </ul>
  </div>

  <div class="span11">
    <hr>
    <p><%= link_to "Click here to VOTE", activate_vote_path(svc: @vote.svc, id: @vote.id), class: "btn btn-large btn-success btn-adjusted2-block" %></p>
    <hr>
    <p><%= link_to "DISCARD VOTE AND EXIT", destroy_vote_path(svc: @vote.svc, id: @vote.id), class: "btn btn-large btn-danger btn-adjusted2-block" %></p>
  </div>
</div>